
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <h2>Logo</h2>
      </div>
      <ul class="sidebar-nav">
        <li class="">
          <a routerLink="/"><i class="fa fa-home"></i>Home</a>
        </li>
        <li>
          <a routerLink="/admin/courses"><i class="fa fa-copy"></i>Courses</a>
        </li>
        <li>
          <a routerLink="/admin/orders"><i class="fa fa-shopping-cart"></i>Orders</a>
        </li>

        <hr>
        <li>
            <a class="text-danger" (click)="signoutSubmit()" ><i class="fa fa-user"></i>Sign Out</a>
          </li>
      </ul>
    </aside>
  
   
  <div style="width: 230px;"> </div>
